.calendarModal{
    max-height: 300px;
    width: 300px;;
    background-color: #ededed;
    position: absolute;
    top: 110%;
    border: 1px solid #1a1a1a;
}

.calendarModal__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1a1a1a;
}

.calendarModal__nav--nav{
    cursor: pointer;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px;
}

.calendarModal__day--head{
    padding: 5px;
}

.calendarModal__nav--prev{
    border-color: transparent #1a1a1a transparent  transparent ;
}

.calendarModal__nav--next{
    border-color: transparent transparent  transparent #1a1a1a;
}

.calendarModal__table{
    width: 100%;
    border-collapse: collapse;
}

.calendarModal__week{
    border-top: 1px solid black;
}

.calendarModal__day{
    cursor: pointer;
    text-align: right;
    padding: 8px 5px;
}

.calendarModal__day.active{
    background-color: #3af;
    box-shadow: #178fe5 0 1px 3px 0 inset;
    color: #fff;
}

.calendarModal__week .calendarModal__day{
    width: calc(100%/7);
}

@media (hover: hover) {
    .calendarModal__day:not(.calendarModal__day.active):hover{
        background-color: #fff;
    }
}